
<form #frm_userlogin="ngForm" (ngSubmit)="collectUserInfo(frm_userlogin.value)">
<table class="table table-bordered">
    <tr>
        <td> User Name </td>
        <td> <input type="text" placeholder="Enter User Name" name="userName" ngModel/> </td>
    </tr>

    <tr>
        <td> Password </td>
        <td> <input type="password" placeholder="Enter User Password" name="password" ngModel/> </td>
    </tr>

    <tr>
        <td><button class="btn btn-success" type="submit"> Login </button> </td>
        <td> <button class="btn btn-info">  Reset </button> </td>
    </tr>
</table>
</form>
    <h2 *ngIf="_checkLogin.isValidUser;else inInvaliduser" style="color: green"> Login Successful, Welcome  </h2>

    
    <ng-template #inInvaliduser>
        <h1 style="color: red"> Sorry Invalid Credentials</h1>
    </ng-template>









