


<table>
    <tr>
        <td> From Account </td>
        <td> To Account </td>
        <td> Amount </td>
    </tr>

    <tr>
        <td> <input type="number" placeholder="Please Enter Account Number" class="form-control"/> </td>
        <td> <input type="number" placeholder="Please Enter To Account Number" class="form-control"/> </td>
        <td> <input type="number" placeholder="Please Enter Amount" class="form-control"/> </td>
    </tr>
    <tr>
        <td> <button class="btn btn-primary">Transfer</button> </td>
        <td> <button class="btn btn-warning">Clear</button> </td>
        <td> <button class="btn btn-danger">Cancel</button> </td>
    </tr>
</table>